{% extends 'base/base.html' %}

{% block content %}
  <h1>Clases de Procesos!!</h1>
  <h3> Acá se van a poder ver indicadores de las clases como: </h3>
  <ul>
    <li>Cantidad de preguntas hechas</li>
    <li>Cantidad de preguntas recibidas</li>
    <li>Cantidad de mejores preguntas</li>
    <li>Grupo que normalmente es el último en preguntar</li>
    <li>Grupo que normalmente es el primero en pregutnar</li>
  </ul>

  <h3>Listado de clases</h3>
  {% if clases %}
  <ul>
    {% for clase in clases %}
    <li><a href="{% url 'ver_clase' clase.id %}"> {{ clase }} </a></li>
    {% endfor %}
  </ul>
  {% endif %}
  <p> Agregar otra clase!: </p>
    <div class="row">
        <div class='col-sm-6'>
          <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Cargar!</button>
          </form>
        </div>
    </div>

  <script type="text/javascript">
      $(function () {
          $('#id_fecha').datetimepicker({
              format: 'DD/MM/YYYY'
          });
      });
  </script>
  {{ div|safe }}

  {{ script|safe }}
{% endblock %}
