{% extends 'base/base.html' %}

{% block content %}
  <h1> Trabajos prácticos de Procesos Industriales</h1>

  <div class="row">
    {% if perms.clases %}
      <a class="btn2" href="{% url 'edit_tp' %}">Agregar Trabajo práctico</a>
    {% endif %}
  </div>

  {% if trabajos %}
    {% for trabajo in trabajos %}
      <h3 class="inline-title"> {{ trabajo }} </h3>
      {% if perms.clases %}
        <a class="btn1 inline-title" href="{% url 'edit_tp' trabajo.id %}">Editar</a>
      {% endif %}
      <p> {{ trabajo.descripcion | safe }} </p>
    {% endfor %}
  {% endif %}

{% endblock %}
