{% extends 'base/base.html' %}

{% block content %}
  <h1>Clase {{ clase }}</h1>

  <h2>Hay {{ exposiciones|length }} exposicion/es en esta clase </h2>

  {% if exposiciones %}
    <ul>
    {% for exp in exposiciones %}
    <li><a href="{% url 'ver_exposicion' exp.id %}"> {{ exp }} </a></li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if perms.clases %}
    <p> Agregar otra exposicion a esta clase!: </p>
    <form method="POST" class="post-form">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="save btn btn-default">Cargar!</button>
    </form>
  {% endif %}
{% endblock %}
