{% extends 'base/base.html' %}

{% block content %}
  <h1>Exposicion: {{ exposicion }}</h1>

  <h2>Preguntas realizadas en esta exposicion: </h2>

  <ul>
  {% if preguntas %}
    {% for preg in preguntas %}
    <li>{{ preg.preguntador }} realizó {{ preg.cantidad }} pregunta/s </li>
    {% endfor %}
  </ul>
  {% endif %}
  <p> Agregar otra pregunta a esta clase!: </p>

  <form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Cargar!</button>
  </form>
{% endblock %}
