/* General de toda la web */

.errorlist {
  padding: 5px;
  background-color: #FFB5C5;
  color: #90142f;
  list-style-type: none;
}

body {
  margin: 0;

}

a {
  color: #2980B9;
}

a:hover {
  color: #404040;
  text-decoration: none;
}

.foot {
  padding-left: 30px;
  font-size: 8px;
}

.dark-link {
  color: #404040;
}

.dark-link:hover {
  color: #2980B9;
}

.big {
  font-size: 18px;
}

.in-line-p {
  display: inline-block;
}

span {
  font-style: italic;
  font-family: monospace;
  color: #2980B9;
  font-size: 10px;
}

.positivo {
  font-size: 15px;
  color: green;
}

.negativo {
  color: red;
  font-size: 15px;
}

.votaste {
  background-color: #ecf0f4;
  color: #404040;
}

.relleno {
  padding: 20px;
  margin: 10px;
  width: 100%;
  background-color: #2980B9;
  text-align: center;
  font-size: 20px;
  color: white
}

.tercio {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .tercio {
    width: 80%;
  }
}

.section {
  margin-bottom: 30px;
}

.btn-soft {
  background-color: #EEEEEE;
  color: #999999;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
}

.btn-soft:hover {
  background-color: #2980B9;
  color: white
}

.btn-dark {
  background-color: #404040;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
}

.btn-dark:hover {
  background-color: #2980B9;
  color: white
}

.btn-blue {
  background-color: #2980B9;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
}

.btn-blue:hover {
  background-color: #404040;
  color: white
}

.inline-title {
  display: inline-block;
}

a.inline-title {
  vertical-align: top;
  margin-top: 20px
}

div.inline-title {
  margin-left: 20px;
}

div #agregar {
  text-align: right;
}

.center-content * {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* HOME */

#carousel-loi {
  width: 960;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.buttons-carousel {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 20%;
  z-index: 10;
  max-height: 100%;
}

.home-img-btn {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  max-width: 80%;
  max-height: 80%;
  opacity: 1;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.home-img-btn:hover {
  opacity: 0.5;
}

.home-btn-text {
  font-size: 40px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  vertical-align: middle;
  width: 260px;
  max-width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  opacity: 1;
}

@media (max-width: 767px) {
  .home-img-btn {
    height: inherit;
  }
  .home-btn-text {
    font-size: 15px;
  }
}


.home {
  text-align: center;
  color: #2980B9;
}

.home-subtitle {
  padding-top: 140px;
}

p.home {
  color: #404040;
  text-align: left;

}


/* Formularios */
.extended-form textarea {
  width: 100%;
}

.extended-input #id_titulo, #id_nombre, #id_link, #id_autor {
  width: 100%;
}

/* Page Header */
.page-header {
  margin: 0;
  position: fixed;
  background-color: #2980B9;
  color: white;
  padding: 10px;
  height: auto;
  width: 100%;
  clear: both;
  z-index: 10000;
}

.navbar {
  background-color: #2980B9;
  color: white;
  padding: 10px;
}

#logo {
  max-height: 45px;
  margin-top: -9px;
}

a.ph-title {
  color: white;
  text-decoration: none;
}

a.ph-title:visited {
  color:white;
  text-decoration: none;
}

a.ph-title:hover {
  color: #404040;
}

.in-line-account {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: right;
}

#ph-link {
  color: white;
  font-size: 20px;
  display: inline-block;
  padding-top: 20px;

}

a#ph-link:hover {
  color: #404040;
}

a#ph-grupo {
  color: white;
  font-size: 15px;
  display: block
}

a#ph-grupo:hover {
  color: #404040;
}

a.seccion {
  vertical-align: top;
  margin: 0px;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 0;
  width: 120px;
  height: 30px;
  background-color: white;
  color:#2980B9;
  font-weight: bold;
  text-align:center;
}

a.seccion:hover {
  background-color: #404040;
  color: white;
  font-weight: bold;
}

a.menu-button {
  vertical-align: top;
  margin: 0px 15px;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 0;
  width: 30px;
  height: 30px;
  background-color: white;
  color:#2980B9;
  font-weight: bold;
  text-align:center;
}

a.menu-button:hover {
  background-color: #404040;
  color: white;
  font-weight: bold;
}

/* Configs del cuerpo */

.body-procesos {
  min-height: 800px;
  margin-top: 100px;

}

.side-form {
  margin-top: 20px;
}

/* Configs de bokeh */
.bk-root {
  height:auto;
}

.bk-toolbar-wrapper {
  margin-left: 0;
  margin-right: 0;
}



/* Retoques a la sidebar */
#sidebar-wrapper {
  background-color: #dddddd;
}

.sidebar-nav li a {
  color: #2980B9;
}

.sidebar-nav li a:hover {
  background-color: #2980B9;
}

/*! REEMPLAZADO POR SIMPLE-SIDEBAR
.lateral{
margin: 0;
background-color: #404040;

float: left;
width: 20%;
height: 100%;
color: white;
padding: 10px;
}

.contenido{
padding: 10px;
margin: 0;
float: left;
width:77%;
}
.option {
padding: 1px 5px;
}

.option:hover{
background-color: black;
color: #2980B9;
}
*/
