/* General de toda la web */
* {
  font-family: verdana;
}

body {
  margin: 0;

}

a {
  color: #2980B9;
}

a:hover {
  color: #404040;
  text-decoration: none;
}

span {
  font-style: italic;
  font-family: monospace;
  color: #2980B9;
}

.btn1 {
  background-color: #404040;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
}

.btn1:hover {
  background-color: #2980B9;
  color: white
}

.btn2 {
  background-color: #2980B9;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
}

.btn2:hover {
  background-color: #404040;
  color: white
}

.inline-title {
  display: inline-block;
}


/* Formularios */
.extended-form textarea {
  width: 100%;
}


/* Page Header */
.page-header {
  margin: 0;
  position: fixed;
  background-color: #2980B9;
  color: white;
  padding: 10px;
  height: auto;
  width: 100%;
  clear: both;
  z-index: 10000;
}

a.ph-title {
  color: white;
  text-decoration: none;
}

a.ph-title:visited {
  color:white;
  text-decoration: none;
}

a.ph-title:hover {
  color: #404040;
}

.in-line-account {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: right;
}

#ph-link {
  color: white;
  font-size: 20px;
  display: inline-block;
  padding-top: 20px;

}

a#ph-link:hover {
  color: #404040;
}

a#ph-grupo {
  color: white;
  font-size: 15px;
  display: block
}

a#ph-grupo:hover {
  color: #404040;
}

a.seccion {
  margin: 0px;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 0;
  width: 120px;
  height: 30px;
  background-color: white;
  color:#2980B9;
  font-weight: bold;
  text-align:center;
}

a.seccion:hover {
  background-color: #404040;
  color: white;
  font-weight: bold;
}

a.menu-button {
  margin: 0px 15px;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 0;
  width: 30px;
  height: 30px;
  background-color: white;
  color:#2980B9;
  font-weight: bold;
  text-align:center;
}

a.menu-button:hover {
  background-color: #404040;
  color: white;
  font-weight: bold;
}

/* Configs del cuerpo */
.container-loi {
  padding-top: 150px;

}

/* Configs de bokeh */
.bk-root {
  height:auto;
}



/* Retoques a la sidebar */



/*! REEMPLAZADO POR SIMPLE-SIDEBAR
.lateral{
margin: 0;
background-color: #404040;

float: left;
width: 20%;
height: 100%;
color: white;
padding: 10px;
}

.contenido{
padding: 10px;
margin: 0;
float: left;
width:77%;
}
.option {
padding: 1px 5px;
}

.option:hover{
background-color: black;
color: #2980B9;
}
*/
