{% extends 'base/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      <h1 class="inline-title">Teoría de Procesos industriales</h1>
    </div>
    <div class="col-sm-4">
      {% if perms.teoria %}
        <a class="btn2 inline-title" href="{% url 'edit_ud' %}">Agregar Unidad</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
      {% for unidad in unidades %}
        <h3><a href="{% url 'ver_unidad' unidad.id %}"> {{ unidad }} </a></h3>
        <p>{{ unidad.descripcion | safe }}</p>
      {% endfor %}
  </div>

{% endblock %}
