{% extends 'base/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      <h1>{{ unidad }}</h1>
    </div>
    <div class="col-sm-4">
      {% if perms.teoria and unidad_form %}
        <p>Agregar una nuevas preguntas y material (proximamente):</p>
        </form>
      {% endif %}
    </div>
  </div>
  <div class="row">

    {% if material %}
      <h3>Material de estudio:</h3>
      <ul>
        {% for m in material %}
          <li><a href="{{ m.link }}"> {{ m.nombre }} </a><span>Sugerido por: {{ m.autor }}</span></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Todavía no hay mateial de estudio cargdo para esta unidad</p>
    {% endif %}

    {% if preguntas %}
      <h3>Preguntas para facilitar la comprensión:</h3>
      <ul>
        {% for p in preguntas %}
          <li><p> {{ p.pregunta }}</p> <span>Sugerido por: {{ m.autor }}</span></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Todavía no hay preguntas cargadas para esta unidad</p>
  </div>
    {% endif %}

{% endblock %}
