{% extends 'base/base.html' %}
{% load admin_urls %}

{% block content %}
    <div class="container section">
        <div class="row">
            <div class="col-12">
                <h1>{{ unidad }}</h1>
            </div>
        </div>

        {% if texts %}
            <div class="row">
                <div class="col-12">
                  {% for text in texts %}
                    {{text | safe}}
                  {% endfor %}
                </div>
            </div>
        {% endif %}
        <h2 id="preguntas">
            <span id="tab-link-preguntas" class="tab-link"
                  data-tab-id="tab-preguntas" data-tab-group="recursos-teoria">
                Preguntas
            </span> |
            <span id="tab-link-material" class="tab-link"
                  data-tab-id="tab-material" data-tab-group="recursos-teoria">
                Videos y material
            </span>
        </h2>

        <div id="tab-preguntas" class="tab" data-tab-group="recursos-teoria">
            <div class="row mt">
                <div class="col-12">
                    <div class="inline-title">
                        <a class="btn-soft" href="{% url 'add_recurso_in_ud' 'p' unidad.pk %}">
                            {% if staff %}
                                Agregar nuevas preguntas
                            {% else %}
                                Sugerir nuevas preguntas
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-12">
                    <div class="inline-title">
                        <h4>Preguntas para facilitar la comprensión de la unidad:</h4>
                        <p>
                            A continuación se listan las preguntas más representativas de esta unidad.
                            Si estás en condiciones de contestar correctamente todas, significa que alcanzaste
                            los conocimientos básicos necesarios que esta unidad propone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-12">
                    {% if preguntas %}
                        {% include "teoria/ver_unidad_preguntas.html" %}
                    {% else %}
                        <p>Todavía no hay preguntas cargadas para esta unidad</p>
                    {% endif %}
                </div>
            </div>
            {% if preguntas_extra %}
                <div class="row mt">
                    <div class="col-12">
                        <div class="inline-title">
                            <h4>Otras preguntas sugeridas</h4>
                            <p>
                                En esta sección podés encontrar más preguntas que pueden facilitar la comprensión de la unidad.
                                Las mismas son preguntas que han sugerido los estudiantes y ayudantes de años anteriores, o 
                                diferentes personas que han querido colaborar con la materia.
                            </p>
                        </div>
                    </div>
                </div>
                    <h4>
                        <span id="tab-link-mostrar-otras-preguntas" class="tab-link"
                              data-tab-id="tab-mostrar-otras-preguntas" data-tab-group="recursos-otras-preguntas-teoria">
                            Ver otras preguntas
                        </span> |
                        <span id="tab-link-ocultar-otras-preguntas" class="tab-link"
                              data-tab-id="tab-ocultar-otras-preguntas" data-tab-group="recursos-otras-preguntas-teoria">
                            Ocultar otras preguntas
                        </span>
                    </h4>

                    <div id="tab-mostrar-otras-preguntas" class="tab" data-tab-group="recursos-otras-preguntas-teoria">
                        <div class="row mt">
                            <div class="col-12">
                                {% include "teoria/ver_unidad_preguntas.html" with preguntas=preguntas_extra %}
                            </div>
                        </div>
                    </div>
            {% endif %}
        </div>

        <div id="tab-material" class="tab" data-tab-group="recursos-teoria">
            <div class="row mt">
                <div class="col-12">
                    <div class="inline-title">
                        <a class="btn-soft" href="{% url 'add_recurso_in_ud' 'm' unidad.pk %}">
                            {% if staff %}
                                Agregar nuevo video o material
                            {% else %}
                                Sugerir nuevo video o material
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-12">
                    <div class="inline-title">
                        <h4>Videos y material de lectura</h4>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-12">
                    {% if material %}
                        {% include "teoria/ver_unidad_material.html" with include_votos="True" %}
                    {% else %}
                        <p>Todavía no hay material cargado para esta unidad</p>
                    {% endif %}
                </div>
            </div>
            {% if material_extra %}
                <div class="row mt">
                    <div class="col-12">
                        <div class="inline-title">
                            <h4>Otros videos y material sugeridos</h4>
                            <p>
                                En esta sección podés encontrar más videos y material que pueden facilitar la comprensión de la unidad.
                                Los mismos son videos y material que han sugerido los estudiantes y ayudantes de años anteriores, o
                                diferentes personas que han querido colaborar con la materia.
                            </p>
                        </div>
                    </div>
                </div>
                    <h4>
                        <span id="tab-link-mostrar-mas-material" class="tab-link"
                              data-tab-id="tab-mostrar-mas-material" data-tab-group="recursos-mas-material-teoria">
                            Ver más material
                        </span> |
                        <span id="tab-link-ocultar-mas-material" class="tab-link"
                              data-tab-id="tab-ocultar-mas-material" data-tab-group="recursos-mas-material-teoria">
                            Ocultar más material
                        </span>
                    </h4>

                    <div id="tab-mostrar-mas-material" class="tab" data-tab-group="recursos-mas-material-teoria">
                        <div class="row mt">
                            <div class="col-12">
                                {% include "teoria/ver_unidad_material.html" with material=material_extra %}
                            </div>
                        </div>
                    </div>
            {% endif %}

        </div>
    </div>

    <script>
      $(function() {
          $('#tab-link-preguntas').click();
          $('#tab-link-ocultar-otras-preguntas').click();
          $('#tab-link-ocultar-mas-material').click();
      });
    </script>
{% endblock %}
