
{% extends 'base/base.html' %}

{% block content %}
<div class="col-sm-12">
  <div class="container section">
    {% if user.is_authenticated %}
    <h1>Overview de todos los grupos</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          {% for h in heads %}
            <th>{{h}}</th>
          {% endfor %}
        </tr>
        {% for row in tabla %}
        <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    <h1>Control de Teoría</h1>

    {% for u, unidades in tabla_unidades %}
    <h3>{{u}}</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          {% for h in unidades_head %}
            <th>{{h}}</th>
          {% endfor %}
        </tr>
        {% for row in unidades %}
        <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endfor %}
    {% else %}
    <h4>No tenés autorización para ver esta página</h4>
    {% endif %}
  </div>
</div>
{% endblock %}
