{% extends 'base/base.html' %}
{% load staticfiles %}


{% block extra_js %}
    <script src="{% static 'js/select_group.js' %}"></script>
{% endblock %}


{% block content %}
<div class="col-sm-12">
  <div class="container section">
    <div class="row">
      {% for year in años %}
      <a class="btn-soft inline-title btn-year" id="btn-{{year}}">{{year}}</a> 
      {% endfor %}
    </div>
  </div>
  <div id="grupos_list">
    {% include "grupos/grupos_list_ajax.html" %}
  </div>

  <div class="container section">
    <h1>Ver grupos y trabajos prácticos de años anteriores: </h1>
    <iframe src="https://drive.google.com/embeddedfolderview?id=0B6B1OSj94GfIYXpjUGlRQWthRDQ#grid"
            style="width:100%; height:600px; border:0;"></iframe>
  </div>
</div>
{% endblock %}
