{% extends 'base/base.html' %}

{% block content %}
<div class="col-sm-12">
  <div class="container section">
    <h1>{{ autoevaluacion }}</h1>
  </div>

  {% if perms.grupos or evaluacion_completa%}
    {% for grupo, evaluacion in evaluaciones %}
      <div class="container section">
        <h3>{{grupo}}</h3>
        {% if evaluacion %}
          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                {% for h in tabla_heads %}
                  <th>{{h}}</th>
                {% endfor %}
              </tr>
              {% for row in evaluacion %}
              <tr>
                {% for cell in row %}
                  {% if forloop.first %}
                    <td>
                      <a href="{% url 'ver_grupo' cell.id %}">
                        {{ cell }}
                      </a>
                    </td>
                  {% else %}
                    <td>{{ cell }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>
        {% else %}
          <p> Este grupo todavía no completó la evaluación </p>
          {% if perms.grupos %}
            <a class="btn-dark" href="{% url 'carga_autoevaluacion' autoevaluacion.id grupo.id  %}">
              Cargar autoevaluación de este grupo
            </a>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <div class="container section">
      <p> No tenes autorizacion para ver esta página </p>
    </div>
  {% endif %}
</div>
{% endblock %}

    
