{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extra_head %}
  <!-- Utility to enable search in a dropdown -->
  <link type="text/css" rel="stylesheet" href="{% static 'vendor/select2/select2-4.1.0-beta.1.min.css' %}"/>
  <script src="{% static 'vendor/select2/select2-4.1.0-beta.1.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="col-sm-12">
  <div class="container section">
    <div class="row">
      <div class="col-sm-12">
        <!-- TITLE AND MEMBERS -->
          <h1>{{ grupo }}</h1>
          {% if integrantes %}
          <p>Integrantes:
            {% for int in integrantes %}
              {{int}},
            {% endfor %}
          </p>
          {% else %}
            <p> Este grupo todavía no tiene integrantes </p>
          {% endif %}
        </div>
      <div class="col-sm-4">
      <!-- FORMULARIO PARA AGREGAR INTEGRANTES -->
        {% if perms.grupos.can_edit_pertenencia %}
          {% if pertenencia_form %}
            <div class="side-form">
              <p>Agregar usuario a este grupo</p>
              <form method="POST">{% csrf_token %}
                {{ pertenencia_form.as_p }}
                <input type="submit" class="save btn btn-default" value="Cargar!"></input>
              </form>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row">
      <!-- PARA EDITAR EL GRUPO -->
      <div class="container section">
        {% if editar_form %}
          <form method="POST" class="extended-form">{% csrf_token %}
            {{ editar_form.as_p }}
            <trix-editor input="id_descripcion"></trix-editor>
            <input type="submit" class="save btn btn-default" value="Guardar cambios"></input>
          </form>

        {% else %}
          {% if pertenece %}
            <a class="btn-blue" href="{% url 'edit_grupo' grupo.pk %}">Editar descripcion del grupo</a>
          {% endif %}
        {% endif %}
        </div>
        <div class="container section">
        {% if grupo.descripcion %}
          <div class="panel panel-primary">
            <div class="panel-body">
              {{ grupo.descripcion | safe }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

    <!-- EXPOSICIONES -->
    <div class="container section">
      <div class="row">
        <div class="col-sm-12">
          <h2>Nuestras exposiciones: </h2>
        </div>
      </div>
      <!-- Expo virtual -->
      {% if pertenece %}
      <div class="row">
        <div class="col-sm-12 section">
             <a class="btn-dark" href="{% url 'virtual_expo' %}">Agregar exposicion virtual</a> 
             <br />
        </div>
      </div>
      {% endif %}
      <!-- Listado de exposiciones -->
        <div class="row">
          <div class="col-sm-8 col-sx-12">
            {% if exposiciones %}
              <ol class="list-group">
              {%  for expo in exposiciones %}
                <li class="list-group-item">
                  <a href="{% url 'ver_exposicion' expo.pk %}">
                    <p>{{ expo }}</p>
                  </a>
                </li>
              {% endfor %}
              </ol>
            {% else %}
              <p>Todavía no tenemos exposiciones cargadas</p>
            {% endif %}
        </div>
      <!-- GRAFICO -->
        <div class="col-sm-4 col-sx-12">
          {% if tiempos_chart %}
           {{tiempos_chart.0 | safe}}
           {{tiempos_chart.1 | safe}}
          {% endif %}
        </div>
      </div>
    </div>

    <!-- TRABAJOS EN CURSO -->
    <div class="container section">
      <div class="row">
        <div class="col-sm-12">
          {% if user.is_authenticated %}
            {% if grupo.id_carpeta_drive %}
            <h2> Trabajos prácticos en curso: </h2>
            <iframe src="https://drive.google.com/embeddedfolderview?id={{ grupo.id_carpeta_drive }}"
                    style="width:100%; height:300px; border:0;"></iframe>
            {% endif %}
          {% else %}
            <p> Para ver los trabajos prácticos de este grupo tenés que estar logueado</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- PREGUNTAS -->
    <div class="container section">
      <div class="row">
        <div class="col-sm-12">
          <h2> Las preguntas que más nos ayudaron: </h2>
          {% if preg_votadas %}
            <ol class="list-group">
              {% for pregunta, exposicion, grupo in preg_votadas %}
                <li class="list-group-item">
                  {% if pertenece %}
                    <span class="badge votaste">
                      <a href="{% url 'votar_preg' pregunta.pk '-' %}">Sacar de las mejores</a>
                    </span>
                  {% endif %}
                  <p>
                    {{ pregunta }}
                    <span class="span-style">
                      {% if exposicion.clase %}
                        {{exposicion.clase}} - TP{{exposicion.tp.numero}} - preguntó {{grupo}}
                      {% else %}
                        Expo Virtual - TP{{exposicion.tp.numero}} - preguntó {{grupo}}
                      {% endif %}
                    </span>
                  </p>
                </li>
              {% endfor %}
            </ol>
          {% else %}
            <p> Todavía no seleccionamos las preguntas que más nos ayudaron </p>
          {% endif %}

          <h2> Todas las preguntas que nos hicieron: </h2>
          {% if preg_no_votadas %}
            <ol class="list-group">
              {% for pregunta, exposicion, grupo in preg_no_votadas %}
                <li class="list-group-item">
                  {% if pertenece %}
                    <span class="badge votaste">
                      <a href="{% url 'votar_preg' pregunta.pk '+' %}">Muy buena!</a>
                    </span>
                  {% endif %}

                  <p>
                    {{ pregunta }}
                    <span class="span-style">
                      {% if exposicion.clase %}
                        {{exposicion.clase}} - TP{{exposicion.tp.numero}} - preguntó {{grupo}}
                      {% else %}
                        Expo Virtual - TP{{exposicion.tp.numero}} - preguntó {{grupo}}
                      {% endif %}
                    </span>
                  </p>
                </li>
              {% endfor %}
            </ol>
          {% else %}
            <p>Todavía hay preguntas cargadas </p>
          {% endif %}




{% endblock %}

{% block extra_js %}
  {% if pertenencia_form %}
    <script>
      $(document).ready(function() {
        $('#id_usuario').select2();
      });
    </script>
  {% endif %}
{% endblock %}
