{% extends 'base/base.html' %}

{% block content %}
<div class="col-sm-12">
  <div class="container section">
    <h1>{{ autoevaluacion }}</h1>
  </div>

  {% if perms.grupos or evaluacion_completa%}
    <div class="col-sm-12">
      <div class="container section">
        <h2>Resumen de las autoevaluaciones de todos los grupos</h2>

            <div class="table-responsive">
            <table class="table table-striped" >
              <tr>
                <td>
                  Referencias:
                </td>
                <td class="warning">
                  Autoevaluacion > Promedio
                </td>
                <td class="success">
                  Promedio > Autoevaluacion
                </td>
                <td class= "info">
                  Promedio = Auotevaluacion
                </td>
              </tr>
            </table>
            </div>
            <p>Para ordenar la tabla, hacer click en el nombre de la columna o criterio</p>      
            <div class="table-responsive">
            <table class="table table-striped table-bordered ordered_table">
              <thead>
                <tr>
                  {% for h in tabla_heads %}
                    <th class="btn-table">{{h}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
              {% for row in tabla_resumen %}
              <tr>
                {% for cell in row %}
                  {% if forloop.first %}
                    <td>
                      <a href="{% url 'ver_grupo' cell.id %}">
                        {{ cell }}
                      </a>
                    </td>
                  {% elif forloop.last %}
                    <td>
                      {{ cell }}
                    </td>
                  {% else %}
                    {% if cell.1 == "alto" %}
                      <td class="warning">
                    {% elif cell.1 == "bajo" %}
                      <td class="success">
                    {% elif cell.1 == "igual" %}
                      <td class= "info">
                    {% else %}
                      <td>
                    {% endif %}
                        {{ cell.0 }}
                      </td>
                  {% endif %}
                {% endfor %}
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>

    {% for grupo, evaluacion in evaluaciones %}
      <div class="container section">
        <h3>{{grupo}}</h3>
        {% if evaluacion %}
          <div class="table-responsive">
            <table class="table table-striped table-bordered ordered_table">
              <thead>
                <tr>
                  {% for h in tabla_heads %}
                    <th class="btn-table">{{h}}</th>
                  {% endfor %}
                </tr>
              <tbody>
                {% for row in evaluacion %}
                <tr>
                  {% for cell in row %}
                    {% if forloop.first %}
                      <td>
                        <a href="{% url 'ver_grupo' cell.id %}">
                          {{ cell }}
                        </a>
                      </td>
                    {% else %}
                      <td>{{ cell }}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p> Este grupo todavía no completó la evaluación </p>
          {% if perms.grupos %}
            <a class="btn-dark" href="{% url 'carga_autoevaluacion' autoevaluacion.id grupo.id  %}">
              Cargar autoevaluación de este grupo
            </a>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <div class="container section">
      <p> No tenes autorizacion para ver esta página </p>
    </div>
  {% endif %}
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.ordered_table').tablesorter();
  });
</script>
{% endblock %}

    
