
{% load staticfiles %}

<html>
  <head>
    <title>LOI Procesos</title>
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap-datetimepicker.min.css' %}">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css"
    rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="{% static 'vendor/css/simple-sidebar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/trix.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}?{% now "U" %}"/>


    <script src="{% static 'vendor/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'vendor/js/moment.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
    <script type="text/javascript" src="{% static 'vendor/js/trix.js' %}"></script>

  </head>
  <body>
    <div class="page-header">
      <div class = "row">
        <div class="col-md-8">
          <a href="{% url 'home' %}"class="ph-title"><h1>LOI Procesos!</h1></a>
          <p> Cátedra Procesos Industriales - Licenciatura en Organización Industrial - UTN Facultad Regional Rafaela </p>
        </div>
        <div class="col-md-4">
          <div class="in-line-account">
            {% if user.is_authenticated %}

              <p id="ph-link">Bienvenido {{ user.username }}!</p>
              <p id="ph-link">  |  </p>
              <a href="/accounts/logout" class="account-request" id="ph-link"><p>Salir</p></a>

              {% if user.grupos.first.pk %}
                <a href="{% url 'ver_grupo' user.grupos.first.pk %}" id="ph-grupo">
                  {{ user.grupos.first }}
                </a>
              {% endif %}

            {% else %}
              <a href="/accounts/login" class="account-request" id="ph-link"><p>Iniciar Sesión</p></a>
              <p id="ph-link">  |  </p>
              <a href="/accounts/register" class="account-request" id="ph-link"><p>Registrarme</p></a>
            {% endif %}
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="#menu-toggle" class="menu-button" id="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger" ></span>
          </a>
          <a href="{% url 'teoria_home' %}" class="seccion"> Teoría </a>
          <a href= "{% url 'grupos_home' %}" class="seccion"> Grupos </a>
          <a href= "{% url 'clases_home' %}" class="seccion"> Clases </a>
        </div>
      </div>
    </div>
      <div id="wrapper">
        <div class="container-loi">

          <!-- Sidebar -->
          <div id="sidebar-wrapper">
            <div class="sidebar-loi">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <a href="{% url 'home' %}">
                          Loi Procesos
                      </a>
                  </li>
                {% if side_bar %}
                  {% for item in side_bar %}
                  <li><a href= "{{ item.1 }}">{{ item.0 }}</a></li>
                  {% endfor %}
                {% endif %}
            	  <li><a href= "{% url 'preguntas' %}"> Cargar preguntas </a></li>
                <li><a href= "{% url 'grupos_home' %}"> Grupos de trabajo </a></li>
              </ul>
            </div>
          </div>


          <div id="page-content-wrapper">
            <div class="container-fluid">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>

   <!-- Menu Toggle Script -->
   <script>
   $("#menu-toggle").click(function(e) {
       e.preventDefault();
       $("#wrapper").toggleClass("toggled");
   });
   </script>

   <!-- Google Analytics -->
   <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43046073-4', 'auto');
    ga('send', 'pageview');
  </script>

  </body>
</html>
