
{% load staticfiles %}

<html>
  <head>
    <title>LOI Procesos</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}?{% now "U" %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap-theme.min.css' %}">
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>

  </head>
  <body>
    <div class="page-header">
      <a href="http://loiprocesos.com/"><h1>LOI Procesos!</h1></a>
      <p> Cátedra Procesos Industriales - Licenciatura en Organización Industrial - UTN Facultad Regional Rafaela </p>
      <div class="seccion"> Teoría </div>
      <a href= "{% url 'grupos_home' %}" class="seccion"> Grupos </a>
      <a href= "{% url 'clases_home' %}" class="seccion"> Clases </a>
    </div>
    <div class="lateral">
    	<div class="option"><p>Una accion posible</p></div>
    	<div class="option"><p>Otra accion posible</p></div>
    	<div class="option"><p>Otra más!!</p></div>
    	<div class="option"><p>blabla</p></div>
    	<div class="option"><p>blalñfjñlsdñflajsasdkflaskdjflñkasfas</p></div>
    </div>
    <div class="contenido">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
